.svgContainer {
  position: relative;
  z-index: -1;
}

.svgContainer svg.squiggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vw;
  z-index: 1;
}

.svgContainer svg.squiggle path {
  stroke-width: 0.5rem;
}